@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: whitesmoke;
}

body {
    background-color: black;
}

header {
    background-color: #08080894;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    margin-top: 0%;
    flex-wrap: wrap;
}

.img {
    width: 50%;
}

.navv {
    color: #1c5fa3;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navv:hover {
    color: white;
}



@media(max-width:641px) {
    header {
        padding: 10px 20px;
        font-size: medium;
    }

    .nav {
        padding: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    .navv {
        font-size: large;
    }

    .img {
        padding-right: 0px;
    }

    h1.mntxt {

        font-size: 15px;
    }


}

@media(max-width:1023px) {
    header {
        padding: 10px 20px;
    }

    .nav {
        padding: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        font-size: 1em;
        padding: 5px;
    }

    a.navv {
        font-size: large;

    }

    .img {
        padding-right: 0px;
        width: 55%;
    }

    h1.mntxt {

        font-size: 25px;
        margin-left: -25%;
        padding-bottom: 0%;
    }

    p.ptxt {
        font-size: 20px;
        margin-left: -15%;
        position: absolute;
        top: 30%;
        color: white;
    }

    a.bt {

        color: white;
        background-color: #1c5fa3;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: large;
        font-weight: 500;
        display: inline-block;
        box-shadow: 5px 5px 5px white;
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
        padding: 0.9375em 2.1875em;

        transition: 0.8s ease;
        position: absolute;
        top: 90%;
        left: 5%;
    }


    .bt {
        color: white;
        background-color: #1c5fa3;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: large;
        font-weight: 500;
        display: inline-block;
        box-shadow: 5px 5px 5px white;
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
        padding: 0.9375em 2.1875em;

        transition: 0.8s ease;
        position: absolute;
        top: 90%;
        left: 28%;
    }

    .cardposation {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        flex-direction: column;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        font-size: 1em;
        padding: 5px;
    }

    .main h3 {
        font-size: 1.6 em;
    }

    .contant {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
    }

    body {
        background-color: black;
    }

    .info {
        color: #1c5fa3;
        font-size: 1em;
        margin: 8px;
        font-weight: 500;
    }

    footer {
        margin-left: 2%;
    }

    .img {
        padding-left: 0%;
    }

}


.mntxt {
    position: absolute;
    top: 25%;
    left: 30%;
    font-weight: 900;
    font-size: 50px;
    color: #1c5fa3;

}

.ptxt {
    position: absolute;
    top: 40%;
    left: 20%;
    font-weight: 900;
    font-size: x-large;
    letter-spacing: 2px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bt {
    color: white;
    background-color: #1c5fa3;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: large;
    font-weight: 500;
    display: inline-block;
    box-shadow: 5px 5px 5px white;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 0.9375em 2.1875em;

    transition: 0.8s ease;
    position: absolute;
    top: 90%;
    left: 28%;
}

.bt:hover {
    background-color: #0a49f9;
    transform: scale(1.2);
}

.title {
    display: flex;
    justify-content: center;
    color: #0a49f9;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.contant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    flex-direction: row;

}

.cardposation {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}

.card {

    width: 21.25em;
    box-shadow: 0 5px 25px rgba(81, 91, 224, 10%);
    padding: 15px;
    margin: 15px;
    transition: 0.8s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #0a49f9;
    font-size: 5em;
    text-align: center;
}

.info {
    color: #1c5fa3;
    font-size: 1.2em;
    margin: 10px;
    font-weight: 700;
}

.projects .contant {
    margin-top: 30px;
}

.project-card {

    border: 1px solid white;
    min-height: 12em;
    width: 23em;
    transition: 0.8s ease;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-img img {
    width: 100%;
}

.project-card:hover .project-img {
    opacity: 0.9;
}

.project-info {
    padding: 1em;
}

.cat {
    font-size: 0.8 em;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.more {
    color: #1c5fa3;
    text-decoration: none;
}

.more:hover {
    color: #65191f;
}

.contact {
    width: 100px;
}

.card input {
    width: 70%;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 3pxs;
    border: 1px solid #ffff;
}

.card textarea {
    width: 70%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 3pxs;
    border: 1px solid #ffff;
}

.card button {
    color: white;
    background-color: #1c5fa3;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: large;
    font-weight: 500;
    display: inline-block;
    box-shadow: 5px 5px 5px white;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 0.9375em 2.1875em;

    transition: 0.8s ease;
}

.bt:hover {
    background-color: #0a49f9;
    transform: scale(1.2);
}

.card textarea:focus {
    outline: 0;
    border: 2px solid #0a49f9;
}

.card input:focus {
    outline: 0;
    border: 2px solid #0a49f9;
}

.im {
    width: 20%;
    border: 3px solid white;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.txt {
    margin-top: -95px;
    margin-left: 95px;
}

.info2 {
    color: #1c5fa3;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 90px;
    font-weight: 700;
}

.contant2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    flex-direction: row;

}